# 202001549 장희권

In [1]:
import pandas as pd
import numpy as np

In [2]:
frame = pd.DataFrame(np.arange(9).reshape((3,3)),
                      index=['a','c','d'],
                      columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [3]:
frame2 = frame.reindex(['a','b','c','d'])
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [4]:
states = ['Texas', 'Utah', 'California']
frame.reindex(columns=states)

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [5]:
frame.loc[['a','b','c','d'], states]

KeyError: "['b'] not in index"

# 202001549 장희권