# 202001549 장희권

In [1]:
import pandas as pd
import numpy as np
from pandas import Series,DataFrame
import pandas_datareader.data as web

In [2]:
all_data = {ticker: web.get_data_yahoo(ticker)
           for ticker in ['AAPL', 'IBM', 'MSFT', 'GOOG']}
price = pd.DataFrame({ticker: data['Adj Close']
                                  for ticker, data in all_data.items()})
volume = pd.DataFrame({ticker: data['Volume']
                      for ticker, data in all_data.items()})

In [3]:
returns = price.pct_change()

In [4]:
returns.tail()

                AAPL       IBM      MSFT      GOOG
Date
2022-11-07  0.003902  0.010076  0.029270  0.022491
2022-11-08  0.004175  0.012289  0.004388  0.002933
2022-11-09 -0.033190 -0.007226 -0.019050 -0.016983
2022-11-10  0.088975  0.027950  0.082268  0.077460
2022-11-11  0.019269  0.013736  0.016997  0.027185

In [5]:
returns['MSFT'].corr(returns['IBM'])

0.4953667402200377

In [6]:
returns['MSFT'].cov(returns['IBM'])

0.00016619301185319028

In [7]:
returns['MSFT'].corr(returns.IBM)

0.4953667402200377

In [8]:
returns.corr()

          AAPL       IBM      MSFT      GOOG
AAPL  1.000000  0.458138  0.768728  0.696093
IBM   0.458138  1.000000  0.495367  0.458120
MSFT  0.768728  0.495367  1.000000  0.801934
GOOG  0.696093  0.458120  0.801934  1.000000

In [9]:
returns.cov()

          AAPL       IBM      MSFT      GOOG
AAPL  0.000438  0.000166  0.000312  0.000285
IBM   0.000166  0.000298  0.000166  0.000155
MSFT  0.000312  0.000166  0.000377  0.000305
GOOG  0.000285  0.000155  0.000305  0.000382

In [10]:
returns.corrwith(returns.IBM)

AAPL    0.458138
IBM     1.000000
MSFT    0.495367
GOOG    0.458120
dtype: float64

In [11]:
returns.corrwith(volume)

AAPL   -0.074541
IBM    -0.140581
MSFT   -0.082377
GOOG   -0.102265
dtype: float64

# 202001549 장희권