# 202001549 장희권

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.options.display.max_rows = 10

In [3]:
result = pd.read_csv('../examples/ex6.csv')

In [4]:
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [5]:
pd.read_csv('../examples/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [7]:
chunker = pd.read_csv('../examples/ex6.csv', chunksize=1000)

In [8]:
chunker

In [9]:
tot = pd.Series([], dtype=np.float64)
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)

In [10]:
tot = tot.sort_values(ascending=False)

In [11]:
tot[:10]

E    368.0
X    364.0
L    346.0
O    343.0
Q    340.0
M    338.0
J    337.0
F    335.0
K    334.0
H    330.0
dtype: float64

# 202001549 장희권