# 202001549 장희권

In [1]:
import pandas as pd
import numpy as np

In [11]:
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])

In [12]:
obj.rank()

0    6.5
1    1.0
2    6.5
3    4.5
4    3.0
5    2.0
6    4.5
dtype: float64

In [13]:
obj.rank(method="first")

0    6.0
1    1.0
2    7.0
3    4.0
4    3.0
5    2.0
6    5.0
dtype: float64

In [14]:
obj.rank(ascending=False, method="max")

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [16]:
frame = pd.DataFrame({"b": [4.3, 7, -3, 2], 
                      "a": [0, 1, 0, 1], 
                      "c": [-2, 5, 8, -2.5]})

In [17]:
frame

     b  a    c
0  4.3  0 -2.0
1  7.0  1  5.0
2 -3.0  0  8.0
3  2.0  1 -2.5

In [19]:
frame.rank(axis="columns")

     b    a    c
0  3.0  2.0  1.0
1  3.0  1.0  2.0
2  1.0  2.0  3.0
3  3.0  2.0  1.0

# 202001549 장희권